- model_class = User
- content_for :title do
  %h1= model_class.model_name.human count: 2


= render "admin/shared/filter", model_class: model_class

%table.table
  %thead
    %tr
      %th=  model_class.human_attribute_name(:email)
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.email, admin_user_path(user)
        %td.text-nowrap
